.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fefc01;
  justify-content: center;
  align-items: center;
}
.app__logo {
  object-fit: contain;
  height: 100px;
}
.app__body {
  background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-mobile-at-getdrawings-cell.png")
    no-repeat center;
  height: 400px;
  background-size: contain;
  width: 250px;
  padding: 74px;
}
.app__bodyBackground {
  height: 400px;
  background-color: white;
}
@media screen and (max-width: 400px) {
  .app__logo {
    height: 40px;
  }
  .app__body {
    padding: 40px;
    background-size: contain;
  }
  .app__bodyBackground {
    margin-top: 10px;
    height: 350px;
    padding: 2px;
    width: 240px;
    margin-left: 3px;
  }
}
